<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  
  <servlet>
  	<servlet-name>dummyService</servlet-name>
  	<servlet-class>org.gwtrpcspring.RemoteServiceDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>dummyService</servlet-name>
  	<url-pattern>/demo5/auditlogs</url-pattern>
  </servlet-mapping>
  <!-- needed for ContextLoaderListener -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/beans.xml</param-value>
	</context-param>

	<!-- Bootstraps the root web application context before servlet initialization -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Demo.html</welcome-file>
  </welcome-file-list>

</web-app>
